
.element--dv1{
 .element.style {
    padding-left: 20px;
  }

}
.element--dv2{
  .el-submenu__title{
    font-size: 12px;
  }

}


.element--text1{
  .el-table td, .el-table th{
    text-align: center;
  }

}
.el-submenu__titless1{
.el-menu-vertical-demo el-menu{
 width: 180px;
}
}



.el---input{
  .el-menu-item{
    width: 20px;
  }

}

